html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  margin-bottom: 66px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

p {
  height: 130px;
  margin-bottom: 94px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.background {
  padding-top: 50px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 47.62%
  );
}

.background-green {
  background: linear-gradient(
    180deg,
    rgba(0, 176, 28, 0.2) 24.48%,
    rgba(255, 255, 255, 0) 100%
  );
}

.button {
  width: 500px;
  height: 60px;
  background: #0094ff;
  border: none;
  border-radius: 10px;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 767px) {
    .button {
      width: 100%;
    }
  }